/*-- scss:defaults --*/
// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #f0f1eb;
$body-color: #000;
$link-color: #4e00ff;
$selection-bg: #26351c;

// code
$code-bg: #2500fb;
$code-block-border-left-size: 0px;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal .progress {
    background: rgba(0,0,0,.2);
    color: #4e00ff;
}
 /**/

.reveal .slide-chalkboard-buttons .fas::before {
    height: 1.45rem;
    width: 1.45rem;
    background-size: 1.45rem 1.45rem;
    vertical-align: 0.1em;
    color:#4e00ff;
}

.reveal a {
    color: #4e00ff;
    text-decoration: none;
    transition: color .15s ease;
}

.reveal h1 {
    color: #4e00ff;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}


code span.fu {
    color: #066bf2;
}

code span.sc {
    color: #8a00e6;
}

code span.at {
    color: #8a00e6;
}

.reveal pre code {
    color: #000;
    background-color: #f5f5f5;
    padding: 6px 9px;
    max-height: 500px;
}
.reveal a {
    color: #000;
    text-decoration: none;
    transition: color .15s ease;
}

.reveal a:hover {
    color: #4e00ff;
    text-shadow: none;
}

.panel-tabset [role=tablist] {
    border-bottom: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.panel-tabset [role=tab][aria-selected=true] {
    background-color: #ece4ff;
    color: #4e00ff;
}



:root {
    --r-background-color:  #fff;
    --r-main-font:  Lato, sans-serif;
    --r-main-font-size:  40px;
    --r-main-color:  #000;
    --r-block-margin:  12px;
    --r-heading-margin:  0 0 12px 0;
    --r-heading-font:  News Cycle, sans-serif;
    --r-heading-color:  #000;
    --r-heading-line-height:  1.2;
    --r-heading-letter-spacing:  normal;
    --r-heading-text-transform:  none;
    --r-heading-text-shadow:  none;
    --r-heading-font-weight:  600;
    --r-heading1-text-shadow:  none;
    --r-heading1-size:  2.5em;
    --r-heading2-size:  1.6em;
    --r-heading3-size:  1.3em;
    --r-heading4-size:  0.5em;
    --r-code-font:  monospace;
    --r-link-color:  #4e00ff;
    --r-link-color-dark:  #4e00ff;
    --r-link-color-hover:  #4e00ff;
    --r-selection-background-color:  rgba(0, 0, 0, 0.99);
    --r-selection-color:  #fff;
}

.important {
  color:#4e00ff;
}

.reveal ol, .reveal dl, .reveal ul, .reveal p {
    font-size: xx-large;
}

.reveal code {
    color: #4e00ff;
    background-color: #f8f0ff;
}